/* Write your CSS here */
.header-container {
  background-color: #cbd5e1;
  height: 12vh;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.header-h1 {
  color: #475569;
  margin-top: 15px;
}
